.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;

}
.f-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 7rem;
    gap:4rem;
    color: white;
}
.f-icons{
    display: flex;
    gap:4rem;
}
.btn{
    background-color: black;
    color: white;
    border-radius: 5px;
}

@media screen and (max-width:640px){

  .f-content{
    transform: scale(0.6);
  }
  .btn{
    transform: scale(0.7);
    position: relative;
    bottom: 9rem;
  }

}

@media screen and (min-width:640px) and (max-width:768px){

  .f-content{
    transform: scale(0.8);
  }
  .btn{
    transform: scale(0.8);
    position: relative;
    bottom: 9rem;
  }

}

@media screen and (max-width: 1024px) and (min-width: 768px){
    .f-content{
        transform: scale(1);
        top: 1rem;
      }
      .btn{
        transform: scale(0.7);
        position: relative;
        bottom: 9rem;
      }
}

@media screen and (max-width: 1366px) and (min-width: 1024px){
    .f-content{
        transform: scale(1.2);
        top: 4rem;
      }
      .btn{
        transform: scale(0.7);
        position: relative;
        bottom: 9rem;
      }
}